<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Capability</title>
    <link rel="stylesheet" href="/bootstrap-5.2.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/project_colours.css">
    <link rel="stylesheet" href="/css/single_capability.css">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container">
        <h1 th:text="${capability.title}" class="white-text"></h1>

        <p th:text="${capability.description}" id="capability_description" class="border rounded border-2 p-2 text-on-white-background"></p>

        <div class="row mt-2 ms-0">
            <div id="resources-table-wrapper" class="border rounded border-2 p-0 col-md-8">
                <table id="resources-table" class="table-bordered rounded w-100">
                    <thead>
                    <th id="resource-col" class="p-1 text-on-white-background">Resource</th>
                    <th id="difficulty-col" class="p-1 text-on-white-background">Difficulty</th>
                    </thead>
                    <tbody>
                    <tr th:each="resource : ${resources}">
                        <td th:text="${resource.content}" class="p-1 text-on-white-background"></td>
                        <td th:text="${resource.difficulty}" class="p-1 text-on-white-background"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <ul class="list-group col-md-3 ms-auto">
                <li class="list-group-item"> Just Testing the list placement</li>
            </ul>
        </div>

    <!--    <list should contain all applicable skills-->
    </div>
</body>
</html>