<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Capability</title>
    <link rel="stylesheet" href="/bootstrap-5.2.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/project_colours.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="container">
<!--    Need to add Capability name here-->
    <h1 class="white-text">CAPABILITY NAME</h1>

<!--    Description box, need to style-->
    <p>NEEDS TO CONTAIN CAPABILITY DESCRIPTION</p>

<!--    Table needs to store the resources-->
    <table></table>

<!--    <list should contain all applicable skills-->
    <ul></ul>
</div>


</body>
</html>