<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Capability</title>
    <link rel="stylesheet" href="/bootstrap-5.2.3-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/project_colours.css">
    <link rel="stylesheet" href="/css/single_capability.css">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container">
    <!--    Need to add Capability name here-->
        <h1 th:text="${capability.title}" class="white-text"></h1>

    <!--    Description box, need to style-->
        <p th:text="${capability.description}" id="capability_description" class="border rounded border-2 p-2 text-on-white-background"></p>

    <!--    Table needs to store the resources-->
        <div>
            <table class="border-white table-bordered col-md-8">
                <thead>
                <th id="resource-col" class="p-1">Resource</th>
                <th id="difficulty-col" class="p-1">Difficulty</th>
                </thead>
                <tbody>
                <!--                tr for each resource-->
                <tr th:each="resource : ${resources}">
                    <td th:text="${resource.content}" class="p-1"></td>
                    <td th:text="${resource.difficulty}" class="p-1"></td>
                </tr>
                </tbody>
            </table>
        </div>

    <!--    <list should contain all applicable skills-->
        <ul></ul>
    </div>
</body>
</html>