<div th:fragment="footer" class="">
    <link rel="stylesheet" th:href="@{/css/footer_style.css}">
    <footer class="cdps-footer">
        <div class="footer-list">
            <a class="footer-link" href="/terms-and-conditions">terms and conditions</a>
            <a class="footer-link" href="https://digitalpublicservices.gov.wales/">Center for Digital Public Services Wales</a>
            <a class="footer-link" href="/quiz-list">Quizzes</a>
            <a class="footer-link" href="/outcomes">Outcome</a>
            <a class="footer-link" href="/summary">Summary</a>
            <a class="footer-link" href="/login">Login</a>
        </div>
        <p class="footer-notice">Licence notice</p>
        <p class="footer-notice">Insert copyright notice</p>
    </footer>
</div>
