:root {
    --powder-blue: #6068ff;
    --light-powder-blue: #8089ff;
    --cdps-blue: #003761;
    --cdps-slate: #00313f;
    --cdps-yellow: #fdd300;
    --white: #ffffff;
}
body {
    background-color: #6068ff;
}

.white-text {
    color: white;
}

.text-on-white-background {
    color: #00313f;
}

.warning {
    background-color: #003761;
    color: #ffffff;
    border-color: #003761;
}

:root {
    --text-on-white-background-colour: #00313f;
    --campws-light-powder-blue: #8089ff;
}

