.rating-buttons .btn {
    padding: 1rem 1.5rem;
    margin: 0 0.5rem;
    font-size: 1.25rem;
}
.nav-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-grow: 1;
}
.quiz-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 18px;

    display: flex;
    flex-direction: column;

    height:100%;
    min-height: 360px;
}
.quiz-card:hover {
    transform: translateY(-4px);
}
.quiz-card-title {
    color: #00313f;
    font-weight: bold;
}
.quiz-card-desc{
    color: #00313f;
}
.quiz-card-time {
    color: #00313f;
    font-style: italic;
}
.start-btn {
    background-color: #003761;
    color: #ffffff;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
}
.start-btn:hover {
    background-color: #8089ff;
    color: #ffffff;
}
.quiz-card .start-btn {
    margin-top: auto;
}

.quiz-card-footer {
    margin-top: auto;
}
