#capability_description {
    white-space: pre-line;
    background-color: var(--white);
    border-color: var(--light-powder-blue) !important;
}

#resource-col {
    width: 85%;
}

#difficulty-col {
    width: 15%;
}

#resources-table {
    background-color: var(--white);
}

#resources-table th, #resources-table tr {
    border-color: var(--light-powder-blue);
}

#resources-table-wrapper {
    border-color: var(--light-powder-blue) !important;
    align-self: flex-start;
}


#skills-card {
    align-self: flex-start;
}