#no-teams-warning {
    background-color: var(--cdps-blue);
    color: #ffffff;
    border-color: var(--cdps-blue);
}

.team-name {
    max-width: 40ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-rounded {
    border-radius: 12px;
}

.team-grid {
    display: grid;
    grid-template-columns: 40ch 1fr auto;
    align-items: center;
    column-gap: 25px;
    row-gap: 10px;
    padding: 15px;
    background-color: var(--white);
}