<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Available Quizzes</title>

    <link rel="stylesheet" href="/bootstrap-5.2.3-dist/css/bootstrap.css">
    <link rel="stylesheet" th:href="@{/css/quiz_page.css}">
    <link rel="stylesheet" th:href="@{/css/project_colours.css}">
</head>
<body>

<div th:replace="fragments/navbar.html :: navbar"></div>

<div class="container mt-4">
    <h1 class="white-text">Available Quizzes</h1>

    <div class="row mt-4">
        <!-- Quiz cards -->
        <div class="col-md-6 col-lg-4 mb-4" th:each="quiz : ${quizzes}">
            <div class="quiz-card">
                <h5 class="quiz-card-title" th:text="${quiz.quizName}">Quiz Name</h5>
                <p class="quiz-card-desc" th:text="${quiz.quizDescription}">Quiz Description</p>
                <p class="quiz-card-desc" th:text="'Attempt Number: ' + ${quiz.attemptNumber}" sec:authorize="isAuthenticated()">Quiz Description</p>
                <p class="quiz-card-time">Estimated time: <span th:text="${quiz.timeEstimate}"></span> mins</p>
                <p class="quiz-card-time" sec:authorize="isAuthenticated()">Questions: <span th:text="${quiz.questionsCompleted} + '/' + ${quiz.totalQuestions}" ></span></p>
                <p class="quiz-card-time" sec:authorize="isAnonymous()">Number of questions: <span th:text="${quiz.totalQuestions}" ></span></p>



                <div th:if="${quiz.completed==1 || quiz.attemptNumber == 0}">
                    <a th:href="@{/quiz/{quizId}/attempt/0/question/0(quizId=${quiz.quizId})}"
                       class="btn start-btn w-100 mt-3">
                        Start Quiz
                    </a>
                </div>
                <div th:if="${quiz.completed==0 && quiz.attemptNumber>0}" sec:authorize="isAuthenticated()">
                    <a th:href="@{/quiz/{quizId}/attempt/0/question/0(quizId=${quiz.quizId})}"
                       class="btn start-btn w-100 mt-3">
                        Resume Quiz
                    </a>
                </div>

            </div>
        </div>
        <div class="col-12" th:if="${noQuizzes}">
            <p class="white-text text-center">No quizzes available.</p>
        </div>
        <div class="col-12" th:if="${dbError}">
            <p class="white-text text-center">Error fetching quizzes.</p>
        </div>
    </div>
</div>

</body>
<script src="/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>

</html>
